.u-section-1 {
  background-image: url("images/2236553.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: 180px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: -13px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  width: 525px;
  margin: 18px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  align-self: center;
  margin: 35px auto 60px 415px;
  padding: 10px 54px 10px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 162px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -22px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 59px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 148px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -15px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 64px;
    margin-bottom: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.75rem;
    margin-top: 100px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5625rem;
    margin-top: 44px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 72px;
    margin-bottom: -45px;
    padding-left: 13px;
    padding-right: 13px;
  }
}