.u-section-1 {
  background-image: url("images/background.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 26px auto 0 391px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 14px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/favicon.ico?rand=8c26");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: 14px -19px 0 139px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 322px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 247px;
  }

  .u-section-1 .u-image-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 185px;
  }

  .u-section-1 .u-image-1 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }
}